In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

## Data Wrangling

### Gathering Data

#### Dataset Ayam

In [3]:
ayam = pd.read_csv("dataset-ayam.csv")
ayam.head(10)

,Title,Ingredients,Steps,Loves,URL
0,Ayam Woku Manado,1 Ekor Ayam Kampung (potong 12)--2 Buah Jeruk ...,Cuci bersih ayam dan tiriskan. Lalu peras jeru...,1,/id/resep/4473027-ayam-woku-manado
1,Ayam goreng tulang lunak,1 kg ayam (dipotong sesuai selera jangan kecil...,"Haluskan bumbu2nya (BaPut, ketumbar, kemiri, k...",1,/id/resep/4471956-ayam-goreng-tulang-lunak
2,Ayam cabai kawin,1/4 kg ayam--3 buah cabai hijau besar--7 buah ...,Panaskan minyak di dalam wajan. Setelah minyak...,2,/id/resep/4473057-ayam-cabai-kawin
3,Ayam Geprek,250 gr daging ayam (saya pakai fillet)--Secuku...,Goreng ayam seperti ayam krispi--Ulek semua ba...,10,/id/resep/4473023-ayam-geprek
4,Minyak Ayam,400 gr kulit ayam & lemaknya--8 siung bawang p...,Cuci bersih kulit ayam. Sisihkan--Ambil 50 ml ...,4,/id/resep/4427438-minyak-ayam
5,Nasi Bakar Ayam,"1 piring nasi--¹/⁴ fillet ayam, potong kotak, ...","Tumis bumbu halus, masukkan daun salam, serai-...",1,/id/resep/4472552-nasi-bakar-ayam
6,Ayam Saus Hintalu Jaruk,1/2 Ekor ayam--2 Butir Hintalu Jaruk--1 Buah C...,Potong ayam menjadi kotak-kotak ukuran sedang ...,0,/id/resep/4437475-ayam-saus-hintalu-jaruk
7,Ayam saos teriyaki Lada Hitam,Ayam bagian dada dan tulang--1 buah bawang bom...,Cara Buat :\n1. Sediakan teplon or wajan beri ...,0,/id/resep/4472877-ayam-saos-teriyaki-lada-hitam
8,Steak ayam,300 gr dada ayam fillet--1 sdm air jeruk nipis...,"Cuci bersih ayam, iris tipis melebar, rendam d...",6,/id/resep/4472822-steak-ayam
9,Ayam Saos Asam Manis Simple,1/4 kg Ayam bagian dada fillet (Potong dadu)--...,Lumuri ayam yg sdh dipotong dadu dgn garam & p...,6,/id/resep/4472901-ayam-saos-asam-manis-simple

#### Dataset Ikan

In [4]:
ikan = pd.read_csv("dataset-ikan.csv")
ikan.head(10)

,Title,Ingredients,Steps,Loves,URL
0,Gurame Saus Padang,Bahan utama:--1 ekor gurame--Bumbu untuk saus:...,Cuci bersih ikan gurame yang akan dimasak. Set...,2,/id/resep/4474009-gurame-saus-padang
1,Ikan Kembung Bakar Teflon,"1/2 kg ikan kembung sate, bersihkan--1 buah je...","Kucuri ikan dengan jeruk, diamkan 5 menit--Lum...",2,/id/resep/4474225-ikan-kembung-bakar-teflon
2,Mujaer asam pedas manis,1/2 kg ikan mujaer (stok gurame habis)--2 buah...,Bersihkan ikan sampai benar-benar bersih. Kera...,1,/id/resep/4473689-mujaer-asam-pedas-manis
3,Gurame Asam manis,1/2 kg ikan gurame--2 buah wortel (potong sepe...,Uleg kunir sama garam kasih air lalu guraminya...,5,/id/resep/4473428-gurame-asam-manis
4,Asam padeh ikan tuna,1/2 kg ikan tuna--6 siung bawang merah--4 siun...,"Haluskan bumbu (cabai merah, kemiri, bawang, k...",7,/id/resep/4473138-asam-padeh-ikan-tuna
5,Avocado Tuna Salad,1 kaleng Tuna Chunks--2 butir telur rebus--3 b...,"Campur semuanya dalam baskom, kecuali biji zai...",0,/id/resep/4473223-avocado-tuna-salad
6,Lele Asam Manis,1/2 kg Lele Segar--180 ml air--3 sdm kecap man...,"Cuci bersihbikan, lalu goreng ikan lele agak m...",0,/id/resep/4473217-lele-asam-manis
7,Pempek kulit ikan tenggiri,500 gr kulit ikan tenggiri halu--200 cc air ma...,Aduk ikan tambahkan air sedikit demi sedikit b...,6,/id/resep/4472657-pempek-kulit-ikan-tenggiri
8,Tumis Tongkol Petai,2 bungkus tongkol--2 cabe gendot--2 papan peta...,"Cuci bersih ikan tongkol, goreng sebentar--Iri...",6,/id/resep/4472513-tumis-tongkol-petai
9,Ikan Patin pedas manis,500 gr ikan patin--5 siung bawang merah iris t...,"Ikan patin yang sudah dicuci bersih, dilumuri ...",0,/id/resep/4472909-ikan-patin-pedas-manis

#### Dataset Kambing

In [5]:
kambing = pd.read_csv("dataset-kambing.csv")
kambing.head(10)

,Title,Ingredients,Steps,Loves,URL
0,.Sate Kambing,Bahan-bahan :--500 gr Daging kambing--Daun pep...,"1. Cuci bersih daging kambing, potong"" kotak, ...",6,/id/resep/4470066-sate-kambing
1,Rabeg Kambing,1 kg daging kambing bagian paha beserta tulang...,Tumis bumbu halus hingga harum. Masukan bumbu ...,6,/id/resep/4469170-rabeg-kambing
2,Gulai kambing,500 gram daging kambing--Bumbu :--sesuai seler...,Rebus dgng kambing dgn jahe krng lbh 20 menit ...,0,/id/resep/4467084-gulai-kambing
3,Sayur tulang kambing,1.5 kg tulang sumsum kambing(direbus dahulu)ag...,Haluskan bawang merah 5 siung dan 5 bawang put...,1,/id/resep/4458778-sayur-tulang-kambing
4,Sate Kambing,300 garam daging kambing--1/2 buah jeruk nipis...,"Potong daging kambing sesuai selera, beri pera...",7,/id/resep/4462884-sate-kambing
5,Sop Kaki Kambing,"4 kaki kambing--2-3 buah kentang, potpng dadu ...",Bakar kaki kambing utk menghilangkan bulu2 hal...,9,/id/resep/4447258-sop-kaki-kambing
6,Kari kambing ala bundo,"Daging kambing ½ kg, potong-potong, lumuri den...","Tumis hingga harum bawang merah iris, bawang p...",1,/id/resep/4376163-kari-kambing-ala-bundo
7,Tongseng kambing presto,250 gram iga kambing / daging kambing--200 gra...,"Potong daging kambing sesuai selera, cuci bers...",9,/id/resep/4442026-tongseng-kambing-presto
8,Telor dadar otak kambing,Otak kambing--2 butir telor ayam--Penyedap mas...,Cuci otak. Kambing smpe bersih cuci semua bumb...,1,/id/resep/4435937-telor-dadar-otak-kambing
9,Sate kambing siram sambal bawang kecap,"Bumbu daging--1 kg daging kambing--1,5 sdt ket...",Potong2 daging lalu masukkan bumbu daging...di...,1,/id/resep/4415488-sate-kambing-siram-sambal-ba...

#### Dataset Sapi

In [6]:
sapi = pd.read_csv("dataset-sapi.csv")
sapi.head(10)

,Title,Ingredients,Steps,Loves,URL
0,Beef Teriyaki,250 gr daging sapi--1 siung bawang bombai--5 s...,"Potong kecil-kecil memanjang daging sapi, lalu...",0,/id/resep/4473529-beef-teriyaki
1,Rendang Sapi,1 kg daging sapi--4 butir kelapa untuk 2L sant...,Potong daging berlawanan dari seratnya--Peras ...,1,/id/resep/4473035-rendang-sapi
2,Tongseng daging sapi pedas,300 gr daging sapi (iris tipis panjang)--Bumbu...,"Tumis bumbu halus dengan sedikit minyak, tumis...",3,/id/resep/4472871-tongseng-daging-sapi-pedas
3,Semur Daging Sapi,1/2 kg daging sapi--1 biji bawang bombay--2 si...,"Potong2 daging sesuai selera, cuci dan lumuri ...",0,/id/resep/4472987-semur-daging-sapi
4,Tongseng daging sapi,500 gram Daging sapi--Santan (boleh pakai kara...,Cuci daging sapi dan potong kecil-kecil sesuai...,2,/id/resep/4472530-tongseng-daging-sapi
5,Beef black pepper spaghetti,"220 gram spaghetti la fonte, rebus sampai al d...",Setelah spaghetti al dente beri sedikit minyak...,5,/id/resep/4471729-beef-black-pepper-spaghetti
6,[Notitle],NaN,NaN,0,/id/resep/4471696-brokoli-sapi-cah-paprika
7,Carbonara Linguine smooked beef,Pasta linguine (bisa pasta lain) sesuai selera...,Rebus pasta dengan sedikit garam lalu sisihkan...,1,/id/resep/4471643-carbonara-linguine-smooked-beef
8,Semur Jantung Sapi,1/5 kg jantung sapi--▪️bumbu halus ▪️--5 siung...,Potong-potong jantung sapi dan lumurkan delmon...,2,/id/resep/4469770-semur-jantung-sapi
9,Daging sapi cincang taousi cah buncis,1 ons daging sapi (cincang)--1/4 buncir atau k...,Cincang daging sapi di beri bumbu kecap asin m...,1,/id/resep/4469431-daging-sapi-cincang-taousi-c...

#### Dataset Tahu

In [7]:
tahu = pd.read_csv("dataset-tahu.csv")
tahu.head(10)

,Title,Ingredients,Steps,Loves,URL
0,Martabak tahu pedas kulit lumpia,12 lembar kulit lumpia--4 buah tahu putih--2 b...,Haluskan tahu putih campur semua bahan kecuali...,7,/id/resep/4472701-martabak-tahu-pedas-kulit-lu...
1,Batagor (Bakso Tahu Goreng) ala rumahan anti g...,Bahan batagor--3 kotak ukuran kecil tahu kunin...,"Haluskan tahu kuning, bawang putih, garam meri...",7,/id/resep/4473611-batagor-bakso-tahu-goreng-al...
2,Sayur Sutace (sop tahu ceker),1/2 kg ceker ayam--4 buah wortel ukuran sedang...,"Bersihkan ceker, lau rebut selama 3-4 menit pa...",5,/id/resep/4473647-sayur-sutace-sop-tahu-ceker
3,Sapo Tahu Ayam ala Mey👌,"1 bks Tofu--5-10 bh filet ayam--1 bh wortel, i...","Iris tofu, jgn terlalu tipis, nanti hancur, go...",4,/id/resep/4473233-sapo-tahu-ayam-ala-mey%F0%9F...
4,TTKK (tahu telur timun tauge kuah kacang),1 butir telur--1 tahu--secukupnya Timun--secuk...,"Goreng tahu dan telur, rebus tauge.--Potong2 t...",0,/id/resep/4473231-ttkk-tahu-telur-timun-tauge-...
5,Perkedel Tahu Wortel Sederhana,1 bks tahu putih--1 batang wortel (potong keci...,Hancurkan tahu dalam baskom--Campurkan wortel ...,4,/id/resep/4473213-perkedel-tahu-wortel-sederhana
6,Kari tahu telur kentang,"4 butir telur rebus--4 buah tahu, potong 8 bag...",Tumis bumbu halus dan rempah cemplung hingga h...,3,/id/resep/4471788-kari-tahu-telur-kentang
7,Sundubu Jjigae (sup tahu pedas ala2 korea),"1 bungkus tahu putih, potong2 besar--1/2 ons t...",Haluskan bumbu (blender).--Tumis bawang bombay...,7,/id/resep/4472974-sundubu-jjigae-sup-tahu-peda...
8,Nugget Tahu Ekonomis Anti Gagal,5 buah tahu(1kg an) sy: sekitar 700g--1 butir ...,Cuci tahu dan tiriskan. Agar saat digoreng tid...,9,/id/resep/4448501-nugget-tahu-ekonomis-anti-gagal
9,Tahu Petis musim ujan,"1 sdm petis--2 bh cabe rawit,rajang--2 bwg pth...",Siapkan bahan2--Goreng tahu smp matang..sement...,9,/id/resep/4472947-tahu-petis-musim-ujan

#### Dataset Telur

In [8]:
telur = pd.read_csv("dataset-telur.csv")
telur.head(10)

,Title,Ingredients,Steps,Loves,URL
0,Orak arik telur buncis,1 buah telur--10 buncis--3 bawang merah--2 baw...,"Haluskan bawang merah, bawang putih dan cabai-...",1,/id/resep/4474114-orak-arik-telur-buncis
1,Terik ayam tempe telor,4 sayap ayam--4 buah telor--1/2 papan tempe--B...,Cuci sayap ayam kemudian sisihkan. Rebus telur...,6,/id/resep/4474066-terik-ayam-tempe-telor
2,Telur Kornet,1/2 kaleng kornet--2-3 buah bawang prei--2 bua...,"Campur kornet, telur, bawang prei dan cabe yg ...",7,/id/resep/4473838-telur-kornet
3,Tahu telur surabaya,1 butir telur--1 potong tahu putih goreng sete...,"Uleg kacang, cabai, bawang putih, gula merah, ...",10,/id/resep/4473784-tahu-telur-surabaya
4,Telur ceplok masak kecap,4 butir telur--4 siung bwng merah--2 siung bwn...,Ceplok telur lalu sisihkan--Iris tipis dua bwn...,0,/id/resep/4473512-telur-ceplok-masak-kecap
5,Sambal telur ayam,1/2 kg telur--6 cabe merah besar--10 cabe rawi...,Rebus telur lalu kupas dan goreng--Rebus cabe ...,6,/id/resep/4473513-sambal-telur-ayam
6,Telur Dadar Padang,3 btr telur ayam(lebih enak pakai telur bebek)...,"Kocok telur sebentar saja,jika kelamaan telurn...",39,/id/resep/4473259-telur-dadar-padang
7,Ceplok Telor saus Asam Manis,2 btr telur--1 ruas wortel iris korek api--1 s...,Ceplok telur sisihkan--Tumis bwg putih n bwg b...,5,/id/resep/4472169-ceplok-telor-saus-asam-manis
8,Potatoes cheese with egg,"250 gr kentang kupas dan potong bulat"" goreng ...","Siapkan cetak tahan panas olesi dgn mentega, u...",4,/id/resep/4473136-potatoes-cheese-with-egg
9,TTKK (tahu telur timun tauge kuah kacang),1 butir telur--1 tahu--secukupnya Timun--secuk...,"Goreng tahu dan telur, rebus tauge.--Potong2 t...",0,/id/resep/4473231-ttkk-tahu-telur-timun-tauge-...

#### Dataset Tempe

In [9]:
tempe = pd.read_csv("dataset-tempe.csv")
tempe.head(10)

,Title,Ingredients,Steps,Loves,URL
0,Orek tempe manis pedas super simple,Tempe (saya beli 3000 saja)--3 buah cabe gendo...,Potong2 tempe sesuai selera lalu goreng sebent...,7,/id/resep/4474061-orek-tempe-manis-pedas-super...
1,Terik ayam tempe telor,4 sayap ayam--4 buah telor--1/2 papan tempe--B...,Cuci sayap ayam kemudian sisihkan. Rebus telur...,6,/id/resep/4474066-terik-ayam-tempe-telor
2,Penyet Tempe Sambel Korek Kemangi,2 buah tempe--1 genggam Daun kemangi--15 cabe ...,"Iris tempe jd beberapa potong, bumbui dg bawan...",8,/id/resep/4473809-penyet-tempe-sambel-korek-ke...
3,Nugget tempe,1 papan tempe dihaluskan(saya kukus dlu)--1 bu...,"Campur tempe,wortel,daun bawang & bumbu yg sud...",8,/id/resep/4473715-nugget-tempe
4,Tempe tepung sajiku,1 potong tempe 3000--1 bngkus sajiku tepung se...,Potong tempe tipis2--Tuang tepung lalu beri ai...,1,/id/resep/4473463-tempe-tepung-sajiku
5,Patty Tempe,"250 gram tempe, kukus, haluskan--150 gram dagi...",Ini tepung kobe putih yg sy pakai.--Campur sem...,9,/id/resep/4469642-patty-tempe
6,Orek tempe basah bumbu ulek (recook),"1 papan tempe, potong sesuai selera (sy 1/2 pa...","Goreng tempe setengah matang, angkat, tiriskan...",6,/id/resep/4473253-orek-tempe-basah-bumbu-ulek-...
7,Perkedel Tempe,1/2 potong papan tempe (haluskan dgn sedikit a...,Campurkan adonan tempe basah dengan bumbu halu...,1,/id/resep/4473022-perkedel-tempe
8,Perkedel Tempe,"300 g tempe--1 butir telur, kocok lepas--1 btg...","Potong2 tempe, dan kukus selama 25 menit.--Hal...",11,/id/resep/4448262-perkedel-tempe
9,Nugget Tempe Simple,1 papan tempe--1 buah wortel--1 butir telur (k...,"Haluskan bawang merah, bawang putih, merica, g...",6,/id/resep/4472907-nugget-tempe-simple

#### Dataset Udang

In [10]:
udang = pd.read_csv("dataset-udang.csv")
udang.head(10)

,Title,Ingredients,Steps,Loves,URL
0,Lumpia udang kulit tahu ala fe',50 gram ayam potong kotak kecil--200 gram udan...,Campur ayam & udang dengan semua bumbu & daun ...,4,/id/resep/4448366-lumpia-udang-kulit-tahu-ala-fe
1,Bakso Ayam Udang Keto,400 gr ayam giling--250 gr udang kupas--3 telu...,"Campur semua bahan dalam food processor, kecua...",2,/id/resep/4474544-bakso-ayam-udang-keto
2,Udang ala pop corn,1/4 kg udang basah ukuran sedang--1 bungkus ko...,Buang kepala dan cangkang udang.--Cuci bersih ...,2,/id/resep/4418156-udang-ala-pop-corn
3,Bakwan Udang Sederhana,1/2 kg Tepung terigu (sudah di ayak)--1/2 Udan...,"Haluskan bawang putih, garam, picin dan merica...",0,/id/resep/4475500-bakwan-udang-sederhana
4,Udang Goreng Tepung Mayonaise,300 gr udang (buang kepalanya)--Jeruk nipis--T...,"Cuci bersih udang, tambahkan jeruk nipis supay...",6,/id/resep/4474156-udang-goreng-tepung-mayonaise
5,Udang saus asam manis,1 Kg Udang mutiara--7 siung bawang merah--4 si...,"Iris bawang merah, bawang putih, jahe, lengkua...",0,/id/resep/4443123-udang-saus-asam-manis
6,Tekwan Kuah Udang,Untuk Tekwan :--1/4 ekor ikan tenggiri 🌸--2 bu...,"Untuk membuat tekwan, rebus air dengan 2sdm mi...",5,/id/resep/4464484-tekwan-kuah-udang
7,Sambal udang goreng,1/4 kg udang--2 buah jeruk nipis--Minyak goren...,"Cuci udang bersih, lumuri dengan jeruk nipis--...",7,/id/resep/4474006-sambal-udang-goreng
8,Udang asam manis oregano,1/2 kg udang vaname--1 bh bawang bombai--2 siu...,"Bersihkan udang dan cuci dengan air garam, iri...",3,/id/resep/4473599-udang-asam-manis-oregano
9,Tumis buncis pakai udang,1/4 kg Buncis (iris serong)--4 bh bawang putih...,"Tumis bawang putih sampai harum, masukan udang...",5,/id/resep/4473387-tumis-buncis-pakai-udang

## Assesing Data

#### Dataset Ayam

In [11]:
ayam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1916 entries, 0 to 1915
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1916 non-null   object
 1   Ingredients  1901 non-null   object
 2   Steps        1901 non-null   object
 3   Loves        1916 non-null   int64
 4   URL          1916 non-null   object
dtypes: int64(1), object(4)
memory usage: 75.0+ KB

In [20]:
ayam.isna().sum()

Title           0
Ingredients    15
Steps          15
Loves           0
URL             0
dtype: int64

In [21]:
print("Jumlah Duplikasi data : " ,ayam.duplicated().sum())
ayam.describe()

Jumlah Duplikasi data :  0

             Loves
count  1916.000000
mean     11.407098
std      20.010786
min       0.000000
25%       3.000000
50%       6.000000
75%      10.000000
max     237.000000

#### Dataset Ikan

In [12]:
ikan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1932 entries, 0 to 1931
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1932 non-null   object
 1   Ingredients  1932 non-null   object
 2   Steps        1932 non-null   object
 3   Loves        1932 non-null   int64
 4   URL          1932 non-null   object
dtypes: int64(1), object(4)
memory usage: 75.6+ KB

In [22]:
ikan.isna().sum()

Title          0
Ingredients    0
Steps          0
Loves          0
URL            0
dtype: int64

In [23]:
print("Jumlah Duplikasi data : " ,ikan.duplicated().sum())
ikan.describe()

Jumlah Duplikasi data :  0

             Loves
count  1932.000000
mean     10.574017
std      19.607944
min       0.000000
25%       3.000000
50%       6.000000
75%      10.000000
max     516.000000

#### Dataset Kambing

In [13]:
kambing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1896 entries, 0 to 1895
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1896 non-null   object
 1   Ingredients  1883 non-null   object
 2   Steps        1883 non-null   object
 3   Loves        1896 non-null   int64
 4   URL          1896 non-null   object
dtypes: int64(1), object(4)
memory usage: 74.2+ KB

In [25]:
kambing.isna().sum()

Title           0
Ingredients    13
Steps          13
Loves           0
URL             0
dtype: int64

In [26]:
print("Jumlah Duplikasi data : " ,kambing.duplicated().sum())
kambing.describe()

Jumlah Duplikasi data :  0

             Loves
count  1896.000000
mean     11.791139
std      21.785150
min       0.000000
25%       2.000000
50%       6.000000
75%      13.000000
max     355.000000

#### Dataset Sapi

In [14]:
sapi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1958 entries, 0 to 1957
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1958 non-null   object
 1   Ingredients  1942 non-null   object
 2   Steps        1942 non-null   object
 3   Loves        1958 non-null   int64
 4   URL          1958 non-null   object
dtypes: int64(1), object(4)
memory usage: 76.6+ KB

In [27]:
sapi.isna().sum()

Title           0
Ingredients    16
Steps          16
Loves           0
URL             0
dtype: int64

In [28]:
print("Jumlah Duplikasi data : " ,sapi.duplicated().sum())
sapi.describe()

Jumlah Duplikasi data :  0

             Loves
count  1958.000000
mean     15.546476
std      31.791005
min       0.000000
25%       4.000000
50%       8.000000
75%      15.000000
max     939.000000

#### Dataset Tahu

In [15]:
tahu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1985 entries, 0 to 1984
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1985 non-null   object
 1   Ingredients  1984 non-null   object
 2   Steps        1985 non-null   object
 3   Loves        1985 non-null   int64
 4   URL          1985 non-null   object
dtypes: int64(1), object(4)
memory usage: 77.7+ KB

In [29]:
tahu.isna().sum()

Title          0
Ingredients    1
Steps          0
Loves          0
URL            0
dtype: int64

In [30]:
print("Jumlah Duplikasi data : " ,tahu.duplicated().sum())
tahu.describe()

Jumlah Duplikasi data :  0

             Loves
count  1985.000000
mean     10.388413
std      18.985159
min       0.000000
25%       3.000000
50%       6.000000
75%      10.000000
max     481.000000

#### Dataset Telur

In [16]:
telur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1974 entries, 0 to 1973
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1974 non-null   object
 1   Ingredients  1972 non-null   object
 2   Steps        1972 non-null   object
 3   Loves        1974 non-null   int64
 4   URL          1974 non-null   object
dtypes: int64(1), object(4)
memory usage: 77.2+ KB

In [31]:
telur.isna().sum()

Title          0
Ingredients    2
Steps          2
Loves          0
URL            0
dtype: int64

In [32]:
print("Jumlah Duplikasi data : " ,telur.duplicated().sum())
telur.describe()

Jumlah Duplikasi data :  0

             Loves
count  1974.000000
mean     12.231003
std      19.930730
min       0.000000
25%       4.000000
50%       6.000000
75%      11.000000
max     301.000000

#### Dataset Tempe

In [17]:
tempe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986 entries, 0 to 1985
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1986 non-null   object
 1   Ingredients  1985 non-null   object
 2   Steps        1986 non-null   object
 3   Loves        1986 non-null   int64
 4   URL          1986 non-null   object
dtypes: int64(1), object(4)
memory usage: 77.7+ KB

In [33]:
tempe.isna().sum()

Title          0
Ingredients    1
Steps          0
Loves          0
URL            0
dtype: int64

In [34]:
print("Jumlah Duplikasi data : " ,tempe.duplicated().sum())
tempe.describe()

Jumlah Duplikasi data :  0

             Loves
count  1986.000000
mean     11.516113
std      21.362530
min       0.000000
25%       3.000000
50%       6.000000
75%      10.000000
max     452.000000

#### Dataset Udang

In [18]:
udang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1994 non-null   object
 1   Ingredients  1994 non-null   object
 2   Steps        1994 non-null   object
 3   Loves        1994 non-null   int64
 4   URL          1994 non-null   object
dtypes: int64(1), object(4)
memory usage: 78.0+ KB

In [35]:
udang.isna().sum()

Title          0
Ingredients    0
Steps          0
Loves          0
URL            0
dtype: int64

In [36]:
print("Jumlah Duplikasi data : " ,udang.duplicated().sum())
udang.describe()

Jumlah Duplikasi data :  0

             Loves
count  1994.000000
mean     10.531093
std      14.475208
min       0.000000
25%       3.000000
50%       6.000000
75%      11.000000
max     249.000000

## Cleaning Data

#### Dataset Ayam

#### Dataset Ikan

#### Dataset Kambing

#### Dataset Sapi

#### Dataset Tahu

#### Dataset Telur

#### Dataset Tempe

#### Dataset Udang

## Exploraty Data Analist (EDA)

#### Dataset Ayam

#### Dataset Ikan

#### Dataset Kambing

#### Dataset Sapi

#### Dataset Tahu

#### Dataset Telur

#### Dataset Tempe

#### Dataset Udang